* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  padding: 0 5px;
}

.menu li a {
  text-decoration: none;
}

main {
  width: 80%;
  margin: auto;
  height: 100%;
  min-height: calc(100vh - 244px);
}

.cards h2 {
  padding-left: 10px;
  margin: 20px 0;
}

.cards-ctr {
  display: flex;
  flex-wrap: wrap;
}

.cards-ctr .card {
  padding: 5px 10px;
  position: relative;
}

.cards-ctr .card .card-layover {
  position: absolute;
  top: 5px;
  bottom: 0;
  right: 0;
  left: 10px;
  height: 200px;
  width: 333.33px;
  opacity: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-ctr .card .card-layover:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card img {
  height: 200px;
}

.container-main-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.contatti-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 244px);
}

.contatti-ctr .indirizzo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.contatti-ctr .telefono {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

footer {
  height: 80px;
  margin: auto;
  background-color: #002d75;
}

.footer-ctr {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.footer-ctr ul {
  padding-left: 10px;
  list-style: none;
}

.footer-ctr ul li {
  display: inline-block;
  padding-right: 5px;
}

.footer-ctr ul li a {
  text-decoration: none;
  color: white;
}

