main {
  width: 80%;
  margin: auto;
  height: 100%;
  min-height: calc(100vh - 244px);
}

.cards h2 {
  padding-left: 10px;
  margin: 20px 0;
}

.cards-ctr {
  display: flex;
  flex-wrap: wrap;
  .card {
    padding: 5px 10px;
    position: relative;
    .card-layover {
      position: absolute;
      top: 5px;
      bottom: 0;
      right: 0;
      left: 10px;
      height: 200px;
      width: 333.33px;
      opacity: 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
}

.card img {
  height: 200px;
}

.container-main-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.contatti-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 244px);
  .indirizzo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }
  .telefono {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
}
